<h3>Upload image</h3>
<form method="POST" action="/cloud/url">
    Name:
    <input name="name" type="text"/><br/>
    Url:
    <input name="url" type="url"/>
    <input type="submit" value="upload to cloud" />
</form>