<h3>Welcome</h3>
<p>Select one of the options</p>
<ul>
    <li>
        <a href="/employee/list"> See employees </a>
    </li>
    <li>
        <a href="/oauth"> OAuth Login </a>
    </li>
    <li>
        <a href="/cloud/url"> Image upload </a>
    </li>
    <li>
        <a href="/weather"> Malaga weather </a>
    </li>
</ul>